SupermarketManagement.WinForms/Connected Services/STServiceReference/SupermarketManagement.WCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SupermarketManagement.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SupermarketManagement.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSieuthiDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SieuthiDTO" nillable="true" type="tns:SieuthiDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSieuthiDTO" nillable="true" type="tns:ArrayOfSieuthiDTO" />
  <xs:complexType name="SieuthiDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiaChi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sdt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenST" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SieuthiDTO" nillable="true" type="tns:SieuthiDTO" />
</xs:schema>